@charset "uft-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat;
    margin: 0.5vh;
    font-size: large;
    
}

.Content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
} 

.AboutUs{
    display: flex ;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 165, 36);
    width: 90vw;
    border-radius: 1em;
}

.AboutUs img{
    height: 100px;
    width: 100px;
    border-radius: 180px;
}

.Text{
    text-align: center;
    padding-top: 15px;
}

#Course{
    font-size: 20px;
}

.AboutUs p{
    font-size: 25px;
}

.UpperMember{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.Member{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#Logo{
    height: 50px;
    width: 50px;
}

.Button img{
    height: 15px;
    margin: 0px;
    padding-right: 10px;
}

.Button {
    display: flex;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 165, 36);
    border: 0px;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
}


@media screen and (max-width: 1750px) {
    .Member{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    .UpperMember{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .Member{
        width: 100%;
    }

    .UpperMember{
        display: flex;
        flex-direction: column;
        align-content: center;
    }


    .AboutUs p{
        font-size: 20px;
    }
}